<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJG5d-JHj8W2yWmcD6ArflTSjjSYnFQKw</string>
	<key>GCM_SENDER_ID</key>
	<string>697790853794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wwwwwopq8e90d8cg.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-47fb1</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-47fb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697790853794:ios:1af020213ba164aab01dfb</string>
</dict>
</plist>